{% extends "admin/admin.html.twig" %}

{% block title 'Editer la catégorie ' ~ category.name %}

{% block body %}
    <h1>Editer la catégorie {{ category.name }}</h1>

    {{form_start(form)}}
        <div>
            {{form_row(form.name)}}
            {{form_row(form.slug)}}
            <button type="submit" class="btn btn-primary">Modifier Catégorie</button>
        </div>
    {{form_end(form)}}
{% endblock %}